# vim:filetype=sh
# Copy this file to ~/.bash_profile and edit as necessary for a given
# environment.

# Set path to local install of bash config and vim files
export KM_HOME=$HOME
export KM_BASH="$KM_HOME/km_bash"
export KM_VIM="$KM_HOME/km_vim"

# Color support for Mac
#export CLICOLOR=1

# Set gruvbox palette to 256 colors
# I believe the osx is the right script to use so long as I'm ssh'ing from a
# Mac workstation, regardless of whether I'm on a linux box.
source "$KM_BASH/lib/gruvbox_256palette_osx.sh"
#source "$KM_BASH/lib/gruvbox_256palette.sh"

# Set local prompt name/color
export KM_PROMPT="mccullok@mac"
export KM_PROMPT_COLOR="Green"

# Set local name and email (for git, mostly)
export KM_NAME="Kevin McCulloch"
export KM_EMAIL="kevin_mcculloch@ao.uscourts.gov"

# Source BASH settings common to all environments
source "$KM_BASH/bashrc"

# Use one of these aliases in shared account environments. In local machine
# environments, it's better to just symlink .vim and .vimrc so that they're
# easily available to sudo -e.
#alias vi="vim -u $KM_VIM/vimrc --cmd 'let &rtp = substitute(&rtp, \"/home/wsbadmin/\.vim\", \"/home/wsbadmin/mccullok/km_vim/vim\", \"g\")'"
#alias vi="vim -u $KM_VIM/vimrc --cmd 'let &rtp = substitute(&rtp, \"/Users/mccullok/\.vim\", \"/Users/mccullok/km_vim/vim\", \"g\")'"

# alias for GNU grep if needed on Mac machines
#alias grep="ggrep --color=auto"
